.home-container {
    color: white;
}

.top-section {
    padding: 25px 15px 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img/home.jpg) center center;
    background-size: cover;
}

.top-section img {
    width: 100%;
}

.home-container h1 {
    margin-bottom: 85px;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.home-container span {
    max-width: 335px;
    display: block;
    font-size: 19px;
    line-height: 25px;
    margin: auto;
}