.device-make,
.device-model {
    margin: 0;
    display: block;
    font-weight: 500;
}

.device-make {
    font-size: 20px;
}

.device-model {
    font-size: 22px;
    margin-bottom: 10px;
}

.device-price {
    font-weight: bold;
    font-size: 20px;
}