.setting-card-allowed {
    padding: 14px;
    max-width: 330px;
    margin: 0 auto 15px;
    border-bottom: 1px solid #eb0000;
    text-align: left;
    position: relative;

}

.setting-card-allowed p {
    display: inline;
    padding-bottom: 8px;
}