.setting-card-allowed {
    padding: 14px;
    max-width: 330px;
    margin: 0 auto 15px;
    border-bottom: 1px solid #eb0000;
    text-align: left;
    position: relative;

}

.setting-card-allowed p {
    display: inline;
    padding-bottom: 8px;
}

.modal-btn-container {
    width: 50%;
    margin-left: 50%;
    float: right;
    text-decoration: underline;
    font-size: 16px;
}

.modal-btn-container.cancel {
    text-decoration: underline;
    border: none;
    color: red;
}